@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.notifications-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.notification {
    display: flex;
    width: 100%;
    height: 80px;
    border-left: 10px;
    transition: all 0.3s;

    transform: translate(-100%, 10px);
    opacity: 0;

    &.show {
        transform: translate(0,0);
        opacity: 1;
    }

    & > h2 {
        color: white;
        margin: auto;
    }

    & > i {
        color: white;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 40px;
        font-size: 2rem;
    }
}
